.container {
    display: flex;
    flex-wrap: wrap;
}

.form-container {
    flex: 2;
    min-width: 300px;
    margin-right: 1rem;
}

.output-container {
    flex: 1;
    min-width: 400px;
    position: sticky;
    top: 3rem;
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-left: 1rem;
}

#output .spoiler {
    background-color: #202020;
    color: #202020;
    cursor: pointer;
    border-radius: 1px;
    transition: opacity 0.2s ease-in-out, color 0.1s ease-in-out, background 0.1s ease-in-out;
}

#output .spoiler:hover {
    opacity: 0.9;
}

#output .spoiler.revealed {
    color: initial;
    background-color: transparent;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
}